/*universal selector*/
* {
    /*resetting margins and padding*/
    margin: 0;
    padding: 0;

    /*includes margin and padding in sizing of elements*/
    box-sizing: border-box;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*    background: #b9cf9b; or #b0c497*/

html {
    background: #91b68c;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}


header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    /* border: 2px solid black; */
    height: 40px;
    width: 650px;
    color: black;
    margin-top: 32px;
    margin-left: 102px;
}

.gameScore {

    margin-left: 41%;
    /* border: 2px solid black; */

}

header h1 {

    font-size: 40px;
    margin-top: -2px;
    margin-left: 2px;
}


/*links as buttons
header a:link {
    color: black;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 10px 10px;
    margin-top: 3px;
}

header a:visited {
    color: black;
    text-decoration: none;
}

header a:hover {
    color: #F2F1E8;
    text-decoration: none;
    background-color: #4C5D70;

}

header a:active {
    color: #4C5D70;
    text-decoration: none;
    background-color: #E34234;
}
*/

.gameplay {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    align-content: flex-start;
    margin: -10px 100px;

}


/*GAMEBOARD STYLING*/

/*using css grid for gameboard as whole, flex for elements within it*/
.gameboard {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto;
    border: 2px solid black;
}

.row {
    display: flex;
    flex-direction: row;
}

/*TABLE CELL STYLING*/
.cell {
    border: 2px solid black;
    background-color: #dbe0d8;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    height: 76px;
    width: 76px;

}

.pTile {
    width: 77px;
    height: 77px;

}

.rowTotal {
    border: 2px solid black;
    background-color: #dbe0d8;
    width: 160px;
    height: 80px;
    font-size: 35px;
    text-align: center;
    padding-top: 2%;

}


/*END GAMEBAORD STYLING*/


/*CURRENT TILE AND PSBL ACTIONS STLYING*/

.play {
    align-self: flex-start;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 30px;
    margin-top: 20px;
}


.currTile {
    /* border: 2px solid black; */
    height: 300px;
    width: 300px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* background-color: #F2F1E8; */

}

.currTile img {

    max-height: 250px;
    max-width: 250px;

}

.cTile {
    border: 4px solid black;

}

.psblActions {
    padding: 2px 3px;
}

/*END CURR TILE AND PSBL ACTIONS STYLE*/



/*TILE NUMS AND POINT SHEET STLYING... extra section*/

.sPowers {
    display: block;
    margin: 0 auto;


}

.tileNums {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 2px solid black; */
    height: 50px;
    width: 296px;
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 7px;

}

#rowsDone {

    margin-top: -8px;
    margin-left: 5px;
    font-size: 35px;

}

/*END TILE NUMS AND POINT SHEET STYLE*/


.hidden {
    display: none;
}


.license {

    margin-top: 0px;
    display: block;
    padding-left: 50px;
    text-wrap: none;
    width: 1000px;

}

.license h4 {

    margin-top: -5px;

}

#priv {

    display: block;
    margin-top: 10px;

}


button {
    background-color: #c5eecb;
    color: black;
    text-align: center;
    /* display: block; */
    border-radius: 4px;
    font-size: 16px;
    width: 280px;
    height: 25px;
    border: 2px solid black;
    margin-top: 3px;

}

button:hover:enabled {

    background-color: black;
    color: white;

}

button:disabled {

    opacity: 0.5;
    border: none;
    /* cursor: not-allowed; */

}


/*for responsive design... less than width of 1190 needs to be adjusted to column display*/


/*ipad is max width of 1024px... so anything less than that gets formatted with the following styling code... top-nav hidden, top-menu displayed*/
@media screen and (max-width: 1190px) {


    header {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        /* border: 2px solid black; */
        height: 40px;
        width: 650px;
        color: black;
        margin-top: 32px;
        margin-left: 102px;
    }

    .gameScore {

        margin-left: 41%;
        /* border: 2px solid black; */

    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .gameplay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        /* align-content: flex-start;
        margin: -10px 100px; */

    }

    .play {
        align-self: flex-start;
        border: 4px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-left: 30px;
        margin-top: 20px;
    }


    .psblActions {
        display: none;

    }

    .tileNums {
        display: none;

    }

}



/*ipad is max width of 1024px... so anything less than that gets formatted with the following styling code... top-nav hidden, top-menu displayed*/
@media screen and (max-width: 760px) {

    html {
        overflow: scroll;
    }


    .psblActions {
        display: none;

    }

    .tileNums {
        display: none;

    }


    header {
        height: 40px;
        width: 650px;
        color: black;
        margin-top: 7%;
        margin-left: 13%;
    }

    .gameScore {

        margin-left: 41%;
        /* border: 2px solid black; */

    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .gameplay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10%;
        margin-top: 3%;
        /* align-content: flex-start;
        margin: -10px 100px; */

    }

    .play {
        align-self: flex-start;
        border: 4px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-left: 25%;
        margin-top: 20px;
    }


    .currTile {
        height: 175px;
        width: 175px;
        margin-bottom: 10px;
        margin: 0 auto;

    }

    .currTile img {

        max-height: 140px;
        max-width: 140px;

    }

    button {
        font-size: 16px;
        width: 280px;
        height: 50px;
        margin-top: 3px;

    }


    .license {
        margin-top: 5%;
        margin-left: 20%;
        /* display: inline; */
        padding-left: 0px;
        padding-bottom: 5%;
        text-wrap: wrap;
        width: 400px;

    }
}